@import "typo/webfonts.css";
@import "vendor/mapbox.css";
@import "vendor/swiper.css";
@import "vendor/swiper-custom.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  @apply flex-1;
}

h1, h2 {
  @apply uppercase text-xl lg:text-2xl font-semibold leading-[1.15]
}

h1 {
  @apply text-sage mb-15 lg:mb-25
}

h2 {
  @apply text-lg lg:text-xl text-rosewood
}

h3 {
  @apply font-semibold text-rosewood uppercase text-base md:text-md mb-5
}

.imprint h1,
.privacy h1,
.imprint h2,
.privacy h2 {
  @apply mb-10 text-fernwood
}

.privacy p {
  @apply max-w-3xl;
}

p {
  @apply mb-16 lg:mb-20;
}

p:last-of-type {
  @apply mb-0;
}

strong {
  @apply font-bold;
}

main ul {
  @apply m-0 p-0 mb-16 lg:mb-20;
}

main ul:last-child {
  @apply mb-0;
}

main ul li {
  @apply list-item list-disc ml-20;
}

sub,
sup {
  font-size: 65%;
}

.marker {
  background-image: url('../icons/marker.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 50px;
  width: 40px;
}
